Repository topfreegames/maestro, pull requests merged in 2021-08, with the labels that each got.

#166 Setup dependencies to run locally
  .github/workflows/test.yaml
  .gitignore
  Makefile
  README.md
  cmd/utils/cmd/migrate.go
  cmd/utils/cmd/root.go
  cmd/utils/utils.go
  config/local.yaml
  docker-compose.yaml
  go.mod
  go.sum
  internal/adapters/scheduler_storage/pg/migrations/0001_CreateSchedulerTable.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0002_CreateUserTable.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0003_CreateSchedulerVersionsTable.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0004_AlterSchedulerTableAddVersion.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0005_AlterVersionType.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0006_AddStatusColumnToVersion.up.sql
  internal/adapters/scheduler_storage/pg/migrations/0007_AddRollbackVersionColumnToVersion.up.sql
  internal/adapters/scheduler_storage/pg/migrations/migrations.go
  internal/adapters/scheduler_storage/pg/pg_test.go
  internal/service/adapters.go
  tools/tools.go
Labels: enhancement

#169 Create Scheduler route
  README.md
  api/openapi-spec/apidocs.swagger.json
  api/proto/v1/schedulers.proto
  cmd/management_api/wire.go
  cmd/management_api/wire_gen.go
  internal/adapters/scheduler_storage/pg/pg.go
  internal/api/handlers/scheduler_handler.go
  internal/api/handlers/scheduler_handler_test.go
  internal/core/services/scheduler_manager/scheduler_manager.go
  internal/core/services/scheduler_manager/scheduler_manager_test.go
  pkg/api/v1/ping.pb.go
  pkg/api/v1/schedulers.pb.go
  pkg/api/v1/schedulers.pb.gw.go
  pkg/api/v1/schedulers_grpc.pb.go
Labels: enhancement, management-api

#168 Fix create scheduler e2e local flow
  Makefile
  cmd/management_api/management_api.go
  cmd/management_api/wire.go
  cmd/management_api/wire_gen.go
  cmd/utils/cmd/root.go
  cmd/worker/wire.go
  cmd/worker/wire_gen.go
  cmd/worker/worker.go
  config/management-api.local.yaml
  config/utils.local.yaml
  config/worker.local.yaml
  docker-compose.yaml
  internal/api/handlers/scheduler_handler_test.go
  internal/core/operations/create_scheduler/create_scheduler_executor.go
  internal/core/operations/create_scheduler/create_scheduler_executor_test.go
  internal/core/operations/definition.go
  internal/core/operations/executor.go
  internal/core/operations/providers/operation_providers.go
  internal/core/services/operation_manager/operation_manager.go
  internal/core/services/operation_manager/operation_manager_test.go
  internal/core/services/workers_manager/workers_manager.go
  internal/core/services/workers_manager/workers_manager_test.go
  internal/core/workers/operation_execution_worker/operation_execution_worker.go
  internal/core/workers/operation_execution_worker/operation_execution_worker_test.go
  internal/core/workers/worker.go
Labels: dependencies, management-api, worker

#172 List operations route
  README.md
  api/openapi-spec/apidocs.swagger.json
  api/proto/v1/schedulers.proto
  cmd/management_api/wire.go
  cmd/management_api/wire_gen.go
  cmd/worker/wire.go
  internal/adapters/instance_storage/mock/mock.go
  internal/adapters/operation_flow/mock/mock.go
  internal/adapters/operation_flow/redis/redis.go
  internal/adapters/operation_storage/mock/mock.go
  internal/adapters/operation_storage/redis/redis.go
  internal/adapters/port_allocator/mock/mock.go
  internal/adapters/room_storage/mock/mock.go
  internal/adapters/runtime/mock/mock.go
  internal/adapters/scheduler_storage/mock/mock.go
  internal/api/handlers/scheduler_handler.go
  internal/api/handlers/scheduler_handler_test.go
  internal/config/mock/mock.go
  internal/core/entities/operation/operation.go
  internal/core/operations/create_scheduler/create_scheduler_executor.go
  internal/core/operations/mock/definition.go
  internal/core/operations/mock/executor.go
  internal/core/ports/operation_flow.go
  internal/core/ports/operation_storage.go
  internal/core/services/operation_manager/operation_manager.go
  internal/core/services/operation_manager/operation_manager_test.go
  pkg/api/v1/schedulers.pb.go
  pkg/api/v1/schedulers.pb.gw.go
  pkg/api/v1/schedulers_grpc.pb.go
Labels: enhancement, management-api

#175 Fix operation worker logs
  internal/core/services/workers_manager/metrics.go
  internal/core/services/workers_manager/workers_manager.go
  internal/core/services/workers_manager/workers_manager_test.go
  internal/core/workers/mock/mock.go
  internal/core/workers/operation_execution_worker/operation_execution_worker.go
Labels: bug, observability

#176 Fix: add create at scheduler api response
  api/openapi-spec/apidocs.swagger.json
  api/proto/v1/schedulers.proto
  internal/adapters/scheduler_storage/pg/pg_test.go
  internal/adapters/scheduler_storage/pg/scheduler.go
  internal/api/handlers/scheduler_handler.go
  internal/api/handlers/scheduler_handler_test.go
  internal/core/entities/scheduler.go
  pkg/api/v1/schedulers.pb.go
Labels: bug, management-api

#179 Parse and validate scheduler API object to entity object
  README.md
  go.mod
  go.sum
  internal/api/handlers/fixtures/bad-scheduler-config.json
  internal/api/handlers/fixtures/scheduler-config.json
  internal/api/handlers/schedulers_handler.go
  internal/api/handlers/schedulers_handler_test.go
  internal/core/entities/game_room/container.go
  internal/core/entities/game_room/spec.go
  internal/core/entities/scheduler.go
  internal/core/services/scheduler_manager/scheduler_manager.go
  pkg/api/v1/schedulers.pb.go
  proto/api/v1/schedulers.proto
  proto/api/v1/schedulers.swagger.json
Labels: enhancement, management-api

#180 Create initial implementation of rooms api cmd
  Makefile
  cmd/rooms_api/rooms_api.go
  cmd/rooms_api/wire.go
  cmd/rooms_api/wire_gen.go
  config/rooms-api.local.yaml
  go.mod
  go.sum
  pkg/api/v1/schedulers.pb.go
  proto/api/v1/schedulers.swagger.json
Labels: enhancement, rooms-api

#181 [Management API] Implement add rooms route
  internal/api/handlers/schedulers_handler.go
  internal/api/handlers/schedulers_handler_test.go
  internal/core/operations/add_rooms/add_rooms_definition.go
  internal/core/operations/add_rooms/add_rooms_executor.go
  internal/core/services/scheduler_manager/scheduler_manager.go
  internal/core/services/scheduler_manager/scheduler_manager_test.go
  pkg/api/v1/schedulers.pb.go
  pkg/api/v1/schedulers.pb.gw.go
  pkg/api/v1/schedulers_grpc.pb.go
  proto/api/v1/schedulers.proto
  proto/api/v1/schedulers.swagger.json
Labels: enhancement, management-api

#183 Fix: add rooms definition executor injection
  internal/core/operations/add_rooms/add_rooms_definition.go
  internal/core/operations/add_rooms/add_rooms_executor.go
  internal/core/operations/create_scheduler/create_scheduler_definition.go
  internal/core/operations/create_scheduler/create_scheduler_executor.go
  internal/core/operations/providers/operation_providers.go
Labels: bug, worker

#182 Feature/create update room func for room manager
  internal/adapters/room_storage/mock/mock.go
  internal/adapters/room_storage/redis/redis.go
  internal/adapters/room_storage/redis/redis_test.go
  internal/core/ports/room_storage.go
  internal/core/services/room_manager/room_manager.go
  internal/core/services/room_manager/room_manager_test.go
  internal/core/services/room_manager/status.go
  internal/core/services/room_manager/status_test.go
Labels: enhancement, rooms-api

#185 Feature/create rooms ping handler
  cmd/rooms_api/wire.go
  cmd/rooms_api/wire_gen.go
  config/rooms-api.local.yaml
  internal/api/handlers/fixtures/bad-ping-data.json
  internal/api/handlers/fixtures/invalid-state-transition-ping-data.json
  internal/api/handlers/fixtures/valid-ping-data-list.json
  internal/api/handlers/rooms_handler.go
  internal/api/handlers/rooms_handler_test.go
  internal/core/entities/game_room/game_room.go
  internal/core/services/room_manager/room_manager.go
  pkg/api/v1/rooms.pb.go
  pkg/api/v1/rooms.pb.gw.go
  pkg/api/v1/rooms_grpc.pb.go
  proto/api/v1/rooms.proto
  proto/api/v1/rooms.swagger.json
Labels: enhancement, rooms-api
