Repository topfreegames/maestro, pull requests merged in 2021-09, with the labels that each got.

#187 Feature: Add field "created at" to operation
  internal/adapters/operation_storage/redis/redis.go
  internal/adapters/operation_storage/redis/redis_test.go
  internal/api/handlers/operations_handler.go
  internal/api/handlers/operations_handler_test.go
  internal/core/entities/operation/operation.go
  internal/core/services/operation_manager/operation_manager.go
  pkg/api/v1/messages.pb.go
  proto/api/v1/messages.proto
  proto/api/v1/operations.swagger.json
Labels: management-api

#190 Feature/implement remove rooms handler
  internal/api/handlers/schedulers_handler.go
  internal/api/handlers/schedulers_handler_test.go
  internal/core/services/scheduler_manager/scheduler_manager.go
  internal/core/services/scheduler_manager/scheduler_manager_test.go
  pkg/api/v1/schedulers.pb.go
  pkg/api/v1/schedulers.pb.gw.go
  pkg/api/v1/schedulers_grpc.pb.go
  proto/api/v1/schedulers.proto
  proto/api/v1/schedulers.swagger.json
Labels: enhancement, management-api

#191 Add scheduler events model + storage
  docker-compose-test.yaml
  models/scheduler_event.go
  plugins/grpc/forwarder.go
  storage/mock/mock_scheduler_event_storage.go
  storage/redis/redis_scheduler_event_storage.go
  storage/redis/redis_scheduler_event_storage_test.go
  storage/scheduler_event_storage.go
Labels: enhancement, management-api

#195 Feature: remove dead rooms scheduler events
  models/scheduler_event.go
  testing/common.go
  watcher/watcher.go
  watcher/watcher_test.go
  worker/worker.go
Labels: enhancement

#197 Fix: Add scheduler events storage initialization at App bootstrap
  api/app.go
Labels: bug

#201 Fix scheduler events storage persistence and load
  Makefile
  storage/redis/redis_scheduler_event_storage.go
  storage/redis/redis_scheduler_event_storage_int_test.go
  storage/redis/redis_scheduler_event_storage_test.go
Labels: bug

#204 Feature: worker operation cancelation watcher
  cmd/worker/worker.go
  internal/adapters/operation_flow/mock/mock.go
  internal/adapters/operation_flow/redis/redis.go
  internal/adapters/operation_flow/redis/redis_test.go
  internal/core/ports/operation_flow.go
  internal/core/services/operation_manager/operation_manager.go
  internal/core/services/operation_manager/operation_manager_test.go
  internal/core/services/workers_manager/workers_manager.go
  internal/core/workers/operation_execution_worker/operation_execution_worker.go
Labels: enhancement, worker

#206 Feature: management api operation cancelation
  internal/adapters/operation_flow/mock/mock.go
  internal/adapters/operation_flow/redis/redis.go
  internal/adapters/operation_flow/redis/redis_test.go
  internal/api/handlers/operations_handler.go
  internal/api/handlers/operations_handler_test.go
  internal/api/handlers/schedulers_handler.go
  internal/core/ports/operation_flow.go
  internal/core/services/operation_manager/operation_manager.go
  internal/core/services/operation_manager/operation_manager_test.go
  pkg/api/v1/operations.pb.go
  pkg/api/v1/operations.pb.gw.go
  pkg/api/v1/operations_grpc.pb.go
  proto/api/v1/operations.proto
  proto/api/v1/operations.swagger.json
Labels: enhancement, management-api
